@page "/play"

<div class="board">

    <NextCard Current="_engine.Current"></NextCard>

    <div class="board__columns">
        @foreach (var (col, i) in Board.Columns.Select((o,i) => (o,i)))
        {
            <Column Index="i" Cards="col" OnAddHereCallback="OnColumnAddHere"></Column>
        }
    </div>

    <div class="board__goals">
        @foreach (var goal in Board.Goals)
        {
            <Goal Value="goal"></Goal>
        }
    </div>

</div>

@code {
    private readonly GameEngineFactory _gameEngineFactory = new GameEngineFactory();
    private IGameEngine _engine;

    private BoardState Board => _engine.Board;

    protected override void OnInitialized()
    {
        _engine = _gameEngineFactory.Create();
    }

    private void OnColumnAddHere(int columnIndex)
    {
        _engine.MoveCurrentToColumn(columnIndex);
    }
}
