<div class="column">
    <input type="button" onclick="@OnAddClick" />

    @foreach (var card in Cards)
    {
        <Card Number="card"></Card>
    }

    <input type="button" onclick="@OnRemoveClick" />
</div>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public IEnumerable<int> Cards { get; set; }

    [Parameter]
    public EventCallback<int> OnAddClickCallback { get; set; }

    [Parameter]
    public EventCallback<int> OnRemoveClickCallback { get; set; }

    private async Task OnAddClick()
    {
        await OnAddClickCallback.InvokeAsync(Index);
    }

    private async Task OnRemoveClick()
    {
        await OnRemoveClickCallback.InvokeAsync(Index);
    }
}
