<div class="next-card">
    Next:

    @if (Value.HasValue)
    {
        <Card Number="Value.Value"></Card>
    }
    else
    {
        @:None
    }
</div>

@code {
    [Parameter]
    public int? Value { get; set; }
}
