:root {
    --card-size: 5vw;
}

/* Board */

.board {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [next-card] min-content [columns] minmax(0, 1fr) [goals] min-content;
}

/* Next card */

.next-card {
    grid-row: next-card;
    min-height: var(--card-size);
}

.next-card .card {
    display: inline-block;
}

/* Columns */

.board__columns {
    grid-row: columns;
    display: flex;
    justify-content: space-around;
}

.column {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.column__button {
    flex: 0 0 auto;
}

.column__card-stack {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

    .column__card-stack .card {
        flex: 0 1 10%;
    }

/* Card */

.card {
    position: relative;
}

.card__background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--card-size);
    height: var(--card-size);
    border: 1px solid blue;
    border-radius: 0.25rem;
}

.card__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Goals */

.board__goals {
    grid-row: goals;
    display: flex;
    justify-content: space-around;
}

.goal {
    padding: 1rem;
    border: 1px solid green;
    border-radius: 0.25rem;
}
